body {
    background-color: black;color: white;
}

h1 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color:white;
}

.chinesetext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: italic;
}

.codeic {
    font-family: 'Source Code Pro',Consolas, 'Courier New', Courier, monospace;
    font-style: italic;
}

img.headerbrand {
    size:12px;
}

div {
    background-color:black;
}

div.alert {
    background-color: slategray;
    border-width: 2px;
    border-style: solid;
    border-color: skyblue;
    margin-left: 35px;
    margin-right: 35px;
}

a {
    color: aquamarine;
}

.alert-title {
    margin-left: 15px;
    margin-top: 25px;
}

.alert-info {
    margin-left: 15px;
    margin-top: -2px;
}

hr.darkbr {
    border-style: solid;
    border-color: white;
    color:white;
}

h3 {
    color:white;
}

b {
    color:white
}