a.nav-link {
    font-size: smaller;
}

a.dropdown-item {
    font-size: smaller;
}

a.navbar-brand {
    font-size: small;
}

nav.navbar {
    height: 40px
}

div.container {
    margin-top: 13px;
}

p {
    font-size: small;
}

h1.display-4 {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    font-size: small;
    size: medium;
}

h5.modal-title {
    font-size: medium;
}

.modal-body {
    font-size:small;
}

ol {
    margin-left: -25px;
}

.alert {
    size:small;   
}